/* 초기화식 */
* {
  margin: 0;
  padding: 0;
}

/* haeder */
a {
  color: black;
  text-decoration: none;
}

.haeder {
  display: flex;
  justify-content: space-between;
  background-color: white;
}

#logo-img {
  width: 120px;
  height: 90px;
  margin: 10px;
}

.login {
  display: flex;
  justify-content: center;
  align-items: center;
  border: 1px solid black;
  border-radius: 20px;
  padding: 5px 17px 5px 17px;
  margin: 30px 20px 30px 20px;
}

#user-img {
  width: 30px;
  height: 32px;
  padding-right: 5px;
}

/* main-content */
body {
  background-color: #FFF3F3;
}

.container {
  display: flex;
  justify-content: center;
  align-items: center;
}

.main-content {
  background-color: white;
  border: 1px solid black;
  width: 90%;
  margin: 50px;
  display: flex;
  justify-content: center;
}

#first-item {
  border: 1px solid black;
  border-radius: 15px;
  display: flex;
  width: 90%;
  height: 110px;
  margin: 20px 0px 20px 0px;
  background-color: #FFF3F3;
}

#first-item-img {
  width: 170px;
  height: 95px;
  margin-top: 8px;
  margin-left: 15px;
}